<footer class="container-fluid footer sticky-bottom">
    <div class="container">
        <div class="col">
            <nav>
                <ul class="nav__links nav__links_primary">
                    <li class="links__item"><a href="/404.html">О нас</a></li>
                    <li class="links__item"><a href="/404.html">Использование материалов</a></li>
                </ul>
                <ul class="nav__links nav__links_secondary">
                    <li class="links__item"><a href="/404.html">Лицензия</a></li>
                    <li class="links__item"><a href="/404.html">Пользовательское соглашение</a></li>
                    <li class="links__item"><a href="/404.html">Политика конфиденциальности</a></li>
                </ul>
            </nav>
            <div class="footer__author">
                <address>Made with ❤️ by Dan Sazonov<br>in Sudga, 2020-2021</address>
                <span class="author__social"><span class="wrap">
      <a href="https://t.me/dan_sazonov" title="@dan_sazonov"><i class="fab fa-telegram-plane"></i></a>
      <a href="https://github.com/dan-sazonov" title="Github: @dan-sazonov"><i class="fab fa-github"></i></a>
      <a href="mailto:p-294803@yandex.ru" title="p-294803@yandex.ru"><i class="far fa-envelope"></i></a>
    </span></span>
            </div>
        </div>
    </div>
</footer>
