<footer class="container-fluid footer sticky-bottom">
    <div class="container">
        <div class="col w-100 flex-column">
            <nav>
                <ul class="nav__links nav__links_primary d-flex">
                    <li class="links__item"><a href="/404.html">О нас</a></li>
                    <li class="links__item"><a href="/404.html">Использование материалов</a></li>
                </ul>
                <ul class="nav__links nav__links_secondary">
                    <li class="links__item"><a href="/404.html">Лицензия</a></li>
                    <li class="links__item"><a href="/404.html">Пользовательское соглашение</a></li>
                    <li class="links__item"><a href="/404.html">Политика конфиденциальности</a></li>
                </ul>
            </nav>
            <div class="footer__author d-flex justify-content-between">
                <address><span>Made with ❤️ by Dan Sazonov<br>in Sudga, 2020-<span class="cur-year">2020</span></span></address>
                <span class="author__social"><span class="wrap">
      <a href="https://t.me/dan_sazonov" title="@dan_sazonov"><i class="fab fa-telegram-plane"></i></a>
      <a href="https://github.com/dan-sazonov" title="Github: @dan-sazonov"><i class="fab fa-github"></i></a>
      <a href="mailto:p-294803@yandex.ru" title="p-294803@yandex.ru"><i class="far fa-envelope"></i></a>
    </span></span>
            </div>
        </div>
    </div>
    <div class="fixed-bottom cookie-alert alert alert-primary fade show d-flex flex-column" role="alert">
        <p>
            Мы используем куки.<br>
            <a href="404.html" class="alert-link">Здесь</a> можно прочитать, что это такое и зачем нам эти данные.
        </p>
        <button type="button" class="btn btn-primary cookie-alert__close-btn align-self-center" data-dismiss="alert"
                aria-label="Close">
            <span aria-hidden="true">Хорошо</span>
        </button>
    </div>
</footer>
