<header class="container-fluid header">
    <!--[if lt IE 10]>
    <div class="outdated">
        <p class="outdated__text">Вы используете устаревший браузер. Это создает угрозу безопасности, и сайт может
            работать
            неправильно.</p>
        <p class="outdated__text">Пожалуйста, обновите свой браузер и попробуйте снова.</p>
        <hr class="outdated__line">
    </div>
    <![endif]-->

    <div class="container">
        <div class="row">
            <i class="fas fa-bars icon_center"></i>
            <span class="logo icon_center">давняя суджа</span>
            <i class="fas fa-search icon_center"></i>
        </div>
    </div>
</header>
