<aside class="aside h-100">
    <div class="col d-flex flex-column justify-content-between w-100 h-100">
        <div class="wrap">
            <header class="aside__header">
                <span class="logo item_center h-100">давняя суджа</span>
            </header>
            <section class="aside__nav_primary aside__nav">
                <ul>
                    <li><a href="/404.html"><i class="far fa-newspaper aside__icon"></i><span
                            class="aside__link-title">Новости</span></a></li>
                    <li><a href="/404.html"><i class="fas fa-users"></i><span class="aside__link-title">О нас</span></a>
                    </li>
                    <li><a href="/404.html"><i class="fas fa-scroll"></i><span
                            class="aside__link-title">Все статьи</span></a>
                    </li>
                    <li><a href="/404.html"><i class="fas fa-images"></i><span class="aside__link-title">Галерея</span></a>
                    </li>
                </ul>
            </section>
            <section class="aside__nav_second aside__nav">
                <ul>
                    <li><a href="/404.html"><i class="fas fa-hands-helping"></i><span class="aside__link-title">Участвовать в проекте</span>
                    </a></li>
                    <li><a href="/404.html"><i class="fas fa-comment-dots"></i><span
                            class="aside__link-title">Связаться с нами</span></a></li>
                    <li><a href="/404.html"><i class="fas fa-copyright"></i><span
                            class="aside__link-title">Использование материалов</span></a></li>
                </ul>
            </section>
            <section class="aside__nav_other aside__nav">
                <ul>
                    <li><a href="/404.html"><i class="fab fa-telegram-plane"></i><span
                            class="aside__link-title">Бот в Telegram</span></a></li>
                    <li><a href="/404.html"><i class="fab fa-github"></i><span
                            class="aside__link-title">Репозиторий на Github</span></a></li>
                </ul>
            </section>
        </div>
        <footer class="aside__footer w-100">
            <address class="item_center"><span>Made with <i
                    class="fas fa-heart item_center"></i> by Dan Sazonov, 2020-<span class="cur-year">2020</span></span>
            </address>
        </footer>
    </div>
</aside>
<button class="aside__shadow aside__hide-btn" aria-hidden="true">&nbsp;</button>

<header class="container-fluid header">
    <!--[if lt IE 10]>
    <div class="outdated">
        <p class="outdated__text">Вы используете устаревший браузер. Это создает угрозу безопасности, и сайт может
            работать
            неправильно.</p>
        <p class="outdated__text">Пожалуйста, обновите свой браузер и попробуйте снова.</p>
        <hr class="outdated__line">
    </div>
    <![endif]-->

    <div class="fixed-bottom cookie-alert alert alert-primary fade show d-flex flex-column" role="alert">
        <p>
            Мы используем куки.<br>
            <a href="404.html" class="alert-link">Здесь</a> можно прочитать, что это такое и зачем нам эти данные.
        </p>
        <button type="button" class="btn btn-primary cookie-alert__close-btn align-self-center" data-dismiss="alert"
                aria-label="Close">
            <span aria-hidden="true">Хорошо</span>
        </button>
    </div>

    <div class="container-xl">
        <div class="row flex-row justify-content-between">
            <button class="header__button header__aside-btn d-block d-sm-none"><i class="fas fa-bars item_center"></i>
            </button>
            <h1 class="item_center"><a href="index.html" class="logo item_center">давняя суджа</a></h1>
            <nav class="d-none d-sm-flex justify-content-between nav">
                <a href="404.html" class="item_center">О нас</a>
                <a href="404.html" class="item_center">Галерея</a>
                <a href="404.html" class="item_center">Все статьи</a>
            </nav>
            <form class="form-inline search hidden" id="search-main">
                <input class="form-control mr-sm-2 search__input" type="search" placeholder="Поиск по сайту"
                       aria-label="Поиск">
                <button class="btn btn-outline-success my-2 my-sm-0 search__btn" type="submit">Найти</button>
            </form>
            <button class="header__button header__search-btn"><i class="fas fa-search item_center"></i></button>
        </div>
    </div>
</header>
