<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, ya-title=#6a3d31, ya-dock=fade">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<link type="text/plain" rel="author" href="/humans.txt">
<meta name="robots" content="index,follow,noodp"><!-- Все поисковые системы -->
<meta name="googlebot" content="index,follow"><!-- Указание отдельно для Google -->

<link rel="apple-touch-icon" sizes="180x180" href="/ico/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/ico/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/ico/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/ico/safari-pinned-tab.svg" color="#6a3d31">
<meta name="apple-mobile-web-app-title" content="Давняя Суджа">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="application-name" content="Давняя Суджа">
<meta name="msapplication-TileColor" content="#6a3d31">
<meta name="msapplication-TileImage" content="/mstile-144x144.png">
<meta name="msapplication-navbutton-color" content="#6a3d31">
<meta name="theme-color" content="#6a3d31">

<!--стили-->
<script src="js/modernizr.min.js"></script>
<script src="https://use.fontawesome.com/573687f7de.js"></script>
<link rel="stylesheet" href="/css/styles.css"> <!-- подключатся после сборки галпом -->
