<aside class="aside">
    <div class="col">
        <header class="aside__header">
            <span class="logo item_center">давняя суджа</span>
        </header>
        <section class="aside__main-nav"></section>
        <section class="aside__second-nav"></section>
        <section class="aside__other-nav"></section>
        <footer class="aside__footer"></footer>
    </div>
</aside>

<header class="container-fluid header">
    <!--[if lt IE 10]>
    <div class="outdated">
        <p class="outdated__text">Вы используете устаревший браузер. Это создает угрозу безопасности, и сайт может
            работать
            неправильно.</p>
        <p class="outdated__text">Пожалуйста, обновите свой браузер и попробуйте снова.</p>
        <hr class="outdated__line">
    </div>
    <![endif]-->

    <div class="container">
        <div class="row">
            <i class="fas fa-bars item_center"></i>
            <span class="logo item_center">давняя суджа</span>
            <i class="fas fa-search item_center"></i>
        </div>
    </div>
</header>