<h3 class="popular__header">Популярные статьи:</h3>
<div class="col-wrap popular__list row">
    <div class="col">
        <ul class="d-flex flex-column">
            <li>
                <a href="svyato-preobrazhenskij-hram.html">Свято-Преображенский храм</a>
                <div>
                    <i class="far fa-thumbs-up"></i><span class="likes__counter">0</span>
                    <i class="far fa-thumbs-down"></i><span class="dislikes__counter">0</span>
                    <i class="far fa-eye"></i><span class="views__counter">0</span>
                </div>
            </li>
            <li>
                <a href="zamostyanskaya-srednya-shkola.html">Замостянская средняя школа</a>
                <div>
                    <i class="far fa-thumbs-up"></i><span class="likes__counter">0</span>
                    <i class="far fa-thumbs-down"></i><span class="dislikes__counter">0</span>
                    <i class="far fa-eye"></i><span class="views__counter">0</span>
                </div>
            </li>
            <li class="popular__item_hidden">
                <a href="zamostyanskij-selskij-dom-kultury.html">Замостянский сельский дом культуры</a>
                <div>
                    <i class="far fa-thumbs-up"></i><span class="likes__counter">0</span>
                    <i class="far fa-thumbs-down"></i><span class="dislikes__counter">0</span>
                    <i class="far fa-eye"></i><span class="views__counter">0</span>
                </div>
            </li>
            <li class="popular__item_xs">
                <a href="istoriya-zamostya.html">История Замостья</a>
                <div>
                    <i class="far fa-thumbs-up"></i><span class="likes__counter">0</span>
                    <i class="far fa-thumbs-down"></i><span class="dislikes__counter">0</span>
                    <i class="far fa-eye"></i><span class="views__counter">0</span>
                </div>
            </li>
            <li class="popular__item_xs">
                <a href="sudzhanskij-muzej-stranitsy-istorii.html">Суджанский музей: страницы истории</a>
                <div>
                    <i class="far fa-thumbs-up"></i><span class="likes__counter">0</span>
                    <i class="far fa-thumbs-down"></i><span class="dislikes__counter">0</span>
                    <i class="far fa-eye"></i><span class="views__counter">0</span>
                </div>
            </li>
        </ul>
    </div>
    <div class="col d-none d-sm-flex d-lg-none">
        <ul class="d-flex flex-column">
            <li>
              <a href="istoriya-zamostya.html">История Замостья</a>
              <div>
                  <i class="far fa-thumbs-up"></i><span class="likes__counter">0</span>
                  <i class="far fa-thumbs-down"></i><span class="dislikes__counter">0</span>
                  <i class="far fa-eye"></i><span class="views__counter">0</span>
              </div>
            </li>
            <li>
              <a href="sudzhanskij-muzej-stranitsy-istorii.html">Суджанский музей: страницы истории</a>
              <div>
                  <i class="far fa-thumbs-up"></i><span class="likes__counter">0</span>
                  <i class="far fa-thumbs-down"></i><span class="dislikes__counter">0</span>
                  <i class="far fa-eye"></i><span class="views__counter">0</span>
              </div>
            </li>
            <li class="popular__item_hidden">
                <a href="about.html">О нас</a>
                <div>
                    <i class="far fa-thumbs-up"></i><span class="likes__counter">0</span>
                    <i class="far fa-thumbs-down"></i><span class="dislikes__counter">0</span>
                    <i class="far fa-eye"></i><span class="views__counter">0</span>
                </div>
            </li>
        </ul>
    </div>
</div>
<section class="landingBlock popular__landing-block d-none"></section>
