<h3 class="popular__header">Популярные статьи:</h3>
<div class="col-wrap popular__list row">
    <div class="col">
        <ul class="d-flex flex-column">
            <li>
                <a href="404.html">Lorem ipsum dolor sit amet</a>
                <div>
                    <i class="far fa-thumbs-up"></i><span class="likes__counter">32</span>
                    <i class="far fa-thumbs-down"></i><span class="dislikes__counter">5</span>
                    <i class="far fa-eye"></i><span class="views__counter">150</span>
                </div>
            </li>
            <li>
                <a href="404.html">Lorem ipsum dolor sit amet</a>
                <div>
                    <i class="far fa-thumbs-up"></i><span class="likes__counter">32</span>
                    <i class="far fa-thumbs-down"></i><span class="dislikes__counter">5</span>
                    <i class="far fa-eye"></i><span class="views__counter">150</span>
                </div>
            </li>
            <li class="popular__item_hidden">
                <a href="404.html">Lorem ipsum dolor sit amet</a>
                <div>
                    <i class="far fa-thumbs-up"></i><span class="likes__counter">32</span>
                    <i class="far fa-thumbs-down"></i><span class="dislikes__counter">5</span>
                    <i class="far fa-eye"></i><span class="views__counter">150</span>
                </div>
            </li>
            <li class="popular__item_xs">
                <a href="404.html">Lorem ipsum dolor sit amet</a>
                <div>
                    <i class="far fa-thumbs-up"></i><span class="likes__counter">32</span>
                    <i class="far fa-thumbs-down"></i><span class="dislikes__counter">5</span>
                    <i class="far fa-eye"></i><span class="views__counter">150</span>
                </div>
            </li>
            <li class="popular__item_xs">
                <a href="404.html">Lorem ipsum dolor sit amet</a>
                <div>
                    <i class="far fa-thumbs-up"></i><span class="likes__counter">32</span>
                    <i class="far fa-thumbs-down"></i><span class="dislikes__counter">5</span>
                    <i class="far fa-eye"></i><span class="views__counter">150</span>
                </div>
            </li>
        </ul>
    </div>
    <div class="col d-none d-sm-flex d-lg-none">
        <ul class="d-flex flex-column">
            <li>
                <a href="404.html">Lorem ipsum dolor sit amet</a>
                <div>
                    <i class="far fa-thumbs-up"></i><span class="likes__counter">32</span>
                    <i class="far fa-thumbs-down"></i><span class="dislikes__counter">5</span>
                    <i class="far fa-eye"></i><span class="views__counter">150</span>
                </div>
            </li>
            <li>
                <a href="404.html">Lorem ipsum dolor sit amet</a>
                <div>
                    <i class="far fa-thumbs-up"></i><span class="likes__counter">32</span>
                    <i class="far fa-thumbs-down"></i><span class="dislikes__counter">5</span>
                    <i class="far fa-eye"></i><span class="views__counter">150</span>
                </div>
            </li>
            <li class="popular__item_hidden">
                <a href="404.html">Lorem ipsum dolor sit amet</a>
                <div>
                    <i class="far fa-thumbs-up"></i><span class="likes__counter">32</span>
                    <i class="far fa-thumbs-down"></i><span class="dislikes__counter">5</span>
                    <i class="far fa-eye"></i><span class="views__counter">150</span>
                </div>
            </li>
        </ul>
    </div>
</div>
<section class="landingBlock popular__landing-block d-none"></section>