@import "custom";

// стили для статей

.main {
  h2 {
    font-size: 1.75rem;
    font-weight: $medium;
    padding-left: .75rem;
    padding-top: .5rem;
    margin-bottom: 0;
  }
  .article__author {
    color: $main;
    font-size: 0.875rem;
    font-weight: $medium;
    padding-left: .75rem;
  }
  .article__author-name {
    text-transform: capitalize;
    margin-right: 10%;
  }
  .article {
    ul {
      padding-left: 0;
      margin: 0;
    }
    li {
      list-style-type: none;
    }
  }
}