@import "custom";

.err-main {
  text-align: center;
}

.err-emoji {
  color: $main;

  i {
    font-size: 6rem;
  }

  .err-i {
    margin-top: 2rem;
  }

  span {
    font-weight: bold;
    font-size: 3rem;
  }
}

.err-title {
  h1 {
    font-size: 1.4rem;
    font-weight: $medium;
  }

  p {
    font-size: 1.2rem;
    margin: 0;
  }

  .err-p {
    margin-bottom: 3rem;
  }
}

.search {
  opacity: 1;
}

.err-link {
  p {
    font-size: 1.1rem;
  }
}

.search__input {
  width: 70%;
}

@media (min-width: 576px) {
  .err-search {
    padding-top: -3rem;
  }
  form .search__input.search__input_md {
    width: 50%;
    min-width: 360px;
  }
  .err-main .wrap .err-emoji {
    padding-bottom: 3rem;
  }
}

@media (max-height: 800px) {
  .err-emoji {
    padding-bottom: 1rem;
  }
  .err-emoji_404 {
    padding: .5rem 0 1rem;
  }
  .err-title_404 p {
    padding-bottom: .5rem;
  }
  .err-search_404 {
    padding-bottom: 2rem;
  }
  .err-link_404 {
    padding-bottom: 1rem;
  }
}