@import "normalize";
// нормализует стили браузера

@import "main";
// дефолтные стили Boilerplate

@import "custom";
// глобальные переменные и шрифты

@import "../../node_modules/bootstrap/scss/bootstrap.scss";


// общие стили:
body {
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.outdated {
  color: $red;
  background-color: white;

  .outdated__text {
    text-align: center;
    font-weight: bold;
  }

  .outdated__line {
    background-color: $red;
    height: 5px;
  }
}

.item_center {
  @include vertical-align();
  text-align: center;
}

.aside__shadow {
  position: absolute;
  z-index: 9;
  height: 100%;
  width: 100%;
  transition-property: background-color;
  transition-duration: $aside-toggle-time;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
  right: 100%;
}

.aside__shadow_active {
  background-color: rgba(0, 0, 0, .4);
  right: 0;
}

.logo {
  font-family: $font-family-poster;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
}

.header {
  background-color: $main;
  color: white;
  padding-left: 0;
  .row {
    flex-direction: row;
    justify-content: space-between;
  }
  .header__button {
    background-color: inherit;
    color: inherit;
    border: none;
    outline: none;
    padding: 0;
  }
  i {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }
  .header__aside-btn {
    padding-left: 1rem;
  }
  .search__input, .search__btn {
    height: 2rem;
  }
  .search__input {
    width: 58vw!important;
    border: solid 2px $main-light;
    color: $main;
  }
  .search__btn {
    @include vertical-align();
    margin-left: .5rem;
    color: $main;
    background-color: $white;
    border: solid 2px $main-semi-light;
    font-size: 1rem;
    font-weight: $medium;
  }
}

.aside {
  position: fixed;
  z-index: 10;
  width: $aside-width;
  height: 100%;
  background-color: white;
  left: - 82%;
  transition: $aside-toggle-time;

  .col {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0;
    flex-direction: column;
    justify-content: space-between;
  }

  .aside__header {
    background-color: $main;
    color: white;
    height: 3.5rem;

    .logo {
      height: 100%;
    }
  }

  .aside__nav {
    ul {
      padding: 0;
      margin: 0;
      border-bottom: solid 1px $main-light;
    }

    li {
      list-style: none;
    }

    i {
      margin: 0.875rem 1.375rem 0.875rem 1.25rem;
      font-size: 1.4rem;
    }

    a {
      color: $main-semi-light;
      font-weight: $medium;
    }
  }

  .aside__nav_other ul {
    border-bottom: none;
  }

  .aside__footer {
    width: 100%;
    margin-bottom: 1.5rem;
    color: $main-semi-light;
  }
}

.aside_open {
  left: 0;
}

.footer {
  background-color: $main-semi-dark;
  color: white;

  .container {
    padding: 0;
  }

  .col {
    width: 100%;
    padding: 0;
    flex-direction: column;
  }
}

.nav__links {
  padding: 0;
  font-size: 1rem;
  margin-bottom: 0.87rem;

  .links__item {
    list-style-type: none;
  }
}

.nav__links_primary {
  padding-top: 1.125rem;
  display: flex;

  a {
    color: white;
  }

  .links__item:not(:first-child) {
    margin-left: 1rem;
  }
}

.nav__links_secondary a {
  color: $main-light;
}

.footer__author  {
  padding: 0.87rem 0 1.5rem;
  border-top: solid 1px $main-light;
  display: flex;
  justify-content: space-between;
  address {
    text-align: center;
    font-size: .95rem
  }
}

address {
  margin-bottom: 0;
  @include vertical-align();
  span {
    font-size: .9rem;
    i {
      display: inline-flex!important;
    }
  }
}

.author__social {
  @include vertical-align();
  display: inline-flex;
  a {
    color: white;
    font-size: 1.37rem;

    &:not(:first-child) {
      margin-left: 1rem;
    }
  }
}

// стили для страниц:
@import "404";
