@import "normalize";
// нормализует стили браузера

@import "main";
// дефолтные стили Boilerplate

@import "custom";
// глобальные переменные и шрифты

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

.outdated {
  text-align: center;
  font-weight: bold;
  color: $red;
}

.outdated-line {
  color: $red;
  background-color: $red;
  height: 5px;
}

header {
  background-color: map_get($theme-colors, main);
  color: white;
}

header .row {
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  font-family: $font-family-poster;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header > i {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}


footer {
  background-color: map_get($theme-colors, main-semi-dark);
  color: white;

}

footer .container {
  padding: 0;
}

footer .col {
  width: 100%;
  padding: 0;
  flex-direction: column;
}

.links {
  padding: 0;
  font-size: 1rem;
  margin-bottom: 0.87rem;
}

.links > li {
  list-style-type: none;
}

.primary a, .social a {
  color: white;
}

.primary li:not(:first-child) {
  margin-left: 1rem;
}

.secondary a {
  color: map_get($theme-colors, main-light);
}

.primary {
  padding-top: 1.125rem;
  display: flex;
}

.author {
  padding: 0.87rem 0 1.5rem;
  border-top: solid 1px map_get($theme-colors, main-light);
  display: flex;
  justify-content: space-between;
}

address {
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.social a:not(:first-child) {
  margin-left: 1rem;
}

.social a {
  font-size: 1.37rem;
}
